@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rgbAnimation {
    0% { background-position: 200% 0%; }
    100% { background-position: -200% 0%; }
}
  
.animate-rgb {
    animation: rgbAnimation 10s linear infinite;
}

.bg-gradient {
    background: linear-gradient(to right, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 200% 100%;
    animation: rgbAnimation 10s linear infinite;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
}

body {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}
